# Dependencies
/node_modules

# Build output
/dist

# Vite specific
.vite

# IDE specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local
