.project-section {
  padding: 2rem 1rem;
  background-color: var(--background-color);
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  justify-items: center;
  width: 100%;
  margin: 0 auto;
}

.section-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem; /* Adjusted for extra spacing */
  color: var(--text-color);
}
